#container{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:0 auto;
    border:0px red solid;

}    
#gridcontainer{
    
    /*Prevents blue highlighting of text when mouse button is pressed*/
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}



.row{
    display:flex;
    border-right:0px rgb(0, 0, 0) solid;
    border-bottom:0px rgb(0, 0, 0) solid;
}


.cell{
    display:flex;
    align-items:center;
    border-left:0px rgb(0, 0, 0) solid;
    border-top:0px rgb(0, 0, 0) solid;
    background-color:rgba(134, 129, 130, 0.137);
}

.cell:hover{
    background-color:pink;
}